doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.jqplot.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/jqplot/jquery.jqplot.js')
    script(type='text/javascript', src='/javascripts/dropzone.js')
    script(type='text/javascript', src='/javascripts/app/vendor/require-2.1.1.js')
    script(type='text/javascript', src='/javascripts/app/config.js')

  body
    block content
