<h1>swings fuck</h1>
<table>
  <thead>
    <tr>
      <th>Club</th>
      <th>Club Head Speed</th>
      <th>Launch Angle</th>
      <th>Azimuth</th>
      <th>Side Spin</th>
      <th>Back Spin</th>
      <th>Total Sping</th>
      <th>Carry</th>
      <th>Total Distance</th>
      <th>Offline</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
