body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.filedrop {
  min-height: 100px;
  padding: 20px;
  border: 2px dashed #CCC;
}
.filedrop.hover {
  border-color: blue;
}
.filedrop form.dropzone {
  width: 200px;
  height: 100px;
}
