doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.oesmith.co.uk/morris-0.4.3.min.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
    script(type='text/javascript', src='http://cdn.oesmith.co.uk/morris-0.4.3.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
    script(type='text/javascript', src='/javascripts/frontend/vendor/require-2.1.1.js')
    script(type='text/javascript', src='/javascripts/frontend/config.js')


  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href="#") Golf Data
          div.nav-collapse.collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  | Clubs
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#!/stats/sand") Sand Wedge
                  li
                    a(href="#!/stats/pw") Pitching Wedge
                  li
                    a(href="#!/stats/9-Iron") 9 Iron
                  li
                    a(href="#!/stats/8-Iron") 8 Iron
                  li
                    a(href="#!/stats/7-Iron") 7 Iron
                  li
                    a(href="#!/stats/6-Iron") 6 Iron
                  li
                    a(href="#!/stats/5-Iron") 5 Iron
                  li
                    a(href="#!/stats/Hybrid-4") Hybrid 4
                  li
                    a(href="#!/stats/Hybrid-3") Hybrid 3
                  li
                    a(href="#!/stats/5-Wood") 5 Wood
                  li
                    a(href="#!/stats/3-Wood") 3 Wood
                  li
                    a(href="#!/stats/Driver") Driver
