<h1>Stats</h1>
<div class="row-fluid">
  <div id='miss-chart' style="width: 200px; height: 200px; float: left;"></div>
  <div id='accuracy-chart' style="width: 500px; height: 200px; float: left;"></div>
  <div id='straight-chart' style="width: 500px; height: 200px; float: left;"></div>
</div>
